@import "variables";

.ion-page {
    background-color: #242424;
    background: linear-gradient(180.2deg, #242424 13.33%, rgba(36, 36, 36, 0) 97.59%), url(/assets/map.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media (max-width: 576px) {
        background: linear-gradient(180.2deg, #242424 13.33%, rgba(36, 36, 36, 0) 97.59%), url(/assets/mapmobile.png) no-repeat center center fixed;
        background-size: auto 100%;
    }
}
ion-content {
    --background: transparent;
}
body {
    --ion-font-family: Roboto, sans-serif;
}